dist: trusty
language: cpp

cache:
  ccache: true
  directories:
    - dependencies
    - build/libs

before_cache:
  - ${TRAVIS_BUILD_DIR}/scripts/cleanup-cmake.sh

env:
  global:
    - MAKEFLAGS="-j 2"

# Create aliases for some of shared build configuration
_basic_env:
- &daily_linux
  if: type = cron
  os: linux
  compiler: gcc
  addons:
    apt:
      sources:
        - ubuntu-toolchain-r-test
      packages:
        - g++-6
        - valgrind
        - lcov
- &linux_base
  if: type != cron AND branch != coverity_scan
  os: linux
  compiler: gcc
- &osx_base
  if: branch != coverity_scan
  os: osx
  compiler: clang

jobs:
  # On weekdays, the backlog for waiting OS X builds is huge
  fast_finish: true
  allow_failures:
    - os: osx

  include:
    # Coverity static analysis job
    - if: branch = coverity_scan
      os: linux
      compiler: gcc
      cache:
        ccache: false
        directories:
          - dependencies
          - build/libs
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
        coverity_scan:
          project:
            name: "LLNL/GridDyn"
            description: "GridDyn is an open-source power transmission simulation software package"
          notification_email: mast9@llnl.gov
          build_command_prepend: echo $(which gcc-6) && ls -l && cov-configure --compiler $(which gcc-6) -- -fPIC -std=c++14 && cmake .. ${GRIDDYN_DEPENDENCY_FLAGS} ${GRIDDYN_OPTION_FLAGS} -DCMAKE_DISABLE_FIND_PACKAGE_LAPACK=ON
          build_command: make
          branch_pattern: coverity_scan
      script: ls -l cov-int && cat cov-int/build-log.txt
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
        #   via the "travis encrypt" command using the project repo's public key
        - secure: "pbj3KbIyknUxBKySwaEZiIHxGFH6UKTj1xjLNhWlfFWmyHzlMaA7tfm4QkXGoFJojckwMX6sGGyXjgM1H8BFRICPzMjilCkrOWVhm9ZcoE1uNorqx4MxwfqGnMjERAHjDd0wiKwoiDUI0vSyPV7ms4KoNoWXr8sGRF1zvOjWHkkJwdLlnyr/lp6iSmLldF9WXd/jM31msI1b8QKoI5jbgRFYA4Ys/Qjl516ng+YKHP3lQD0z3qFGKpe/cKB0bnIc66rQRNOBsX4T/eRcQ5kMRcyDX3xWI4+gbbSKtVEvoZlvnLL8ANy+BcSjrdHQBjhQ7SZsvm68eMK+hRoGyH2KTHEYcogWxpv0l6ZfIalOdIaYnR2Yx4vWZ0xRf3UleIcELDI/6oTYiWjVV2PQqdvRlwI52/1zSSc2qgsifJuPCME/g7tiQarjCT603/icmsKtn9mVq2dMN9YPEcmrh07gjPsQMk0YynQugvC8TBwabV0ptwZf+V+yj5SexdptMK1CrccusMml2jr114cxRenDEKNrfyTwN6UZhmf/ll1EZ3AKOHI+xdm2UUgzZBWQvRbnkZ7EInuU/3/AmKUpFpiVsQfIYeSSj/nLAtbgfKw1ncNSo65uW4Oo8z1QbGTrvfwBE7roJAL1oSqT+exydyte5EgflUVfvi/wNrD37GcU5X0=" 
    # XCode 8gm, OS X 10.11
    - <<: *osx_base
      env:
        - MATRIX_EVAL="COMPILER=clang && BUILD_TYPE=Release && TRAVIS_XCODE_VERSION=8"
        - HOMEBREW_NO_AUTO_UPDATE=1
      osx_image: xcode8

    - <<: *linux_base
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - USE_MPI=mpich

    - <<: *linux_base
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-4.9 && CXX=g++-4.9"
        - CI_BOOST_VERSION=1.61.0

    - <<: *linux_base
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.5
          packages:
            - libstdc++-6-dev
            - clang-3.5
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-3.5' && CXX='clang++-3.5'"
        - CCACHE_CPP2=yes

   # ------------------------------------------------
   # Jobs for daily valgrind and code coverage tests
   # ------------------------------------------------
    - <<: *daily_linux
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - RUN_VALGRIND=true
        - USE_MPI=mpich
    - <<: *daily_linux
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC=gcc-6 && CXX=g++-6"
        - RUN_COVERAGE=true
        - GCOV_TOOL=gcov-6
        - USE_MPI=mpich
    - <<: *daily_linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
        - MATRIX_EVAL="COMPILER=gcc && CC='gcc-5' && CXX='g++-5'"
        - USE_MPI=mpich
    - <<: *daily_linux
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
          packages:
            - libstdc++-6-dev
            - clang-4.0
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-4.0' && CXX='clang++-4.0'"
        - CCACHE_CPP2=yes
        - CXX_STANDARD=17
        - USE_MPI=mpich
    - <<: *daily_linux
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
          packages:
            - libstdc++-6-dev
            - clang-4.0
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-4.0' && CXX='clang++-4.0'"
        - CCACHE_CPP2=yes
        - USE_MPI=mpich
        - JOB_OPTION_FLAGS="-C../scripts/asan-cache.cmake"
    - <<: *daily_linux
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
          packages:
            - libstdc++-6-dev
            - clang-4.0
      env:
        - MATRIX_EVAL="COMPILER=clang && CC='clang-4.0' && CXX='clang++-4.0'"
        - CCACHE_CPP2=yes
        - USE_MPI=mpich
        - JOB_OPTION_FLAGS="-C../scripts/msan-cache.cmake"

branches:
  except:
    - gh-pages

before_install:
  - eval "${MATRIX_EVAL}"
  - $CXX --version

install:
  - export GRIDDYN_DEPENDENCY_FLAGS=""
  - OPTION_FLAGS_ARR=()
  - if [[ "$RUN_COVERAGE" ]]; then OPTION_FLAGS_ARR+=("-DTEST_CODE_COVERAGE=ON" "-DCMAKE_BUILD_TYPE=Coverage") ; fi
  - if [[ "$ENABLE_HELICS" ]]; then OPTION_FLAGS_ARR+=("-DHELICS_EXECUTABLE=ON" "-DAUTOBUILD_HELICS=ON") ; fi
  - if [[ "$ENABLE_FMI" ]]; then OPTION_FLAG_ARRS+=("-DBUILD_SHARED_FMI_LIBRARY=ON") ; else OPTION_FLAGS_ARR+=("-DFMI_ENABLE=OFF") ; fi

  - source scripts/install-ci-dependencies.sh
  - GRIDDYN_DEPENDENCY_FLAGS+=" -DBOOST_INSTALL_PATH=${CI_DEPENDENCY_DIR}/boost"
  - if [[ "$RUN_COVERAGE" ]]; then pip install --user cpp-coveralls ; fi
  - if [[ "$USE_MPI" ]]; then OPTION_FLAGS_ARR+=("-DMPI_ENABLE=ON") ; fi
  - if [[ "$USE_MPI" ]]; then CC=${CI_DEPENDENCY_DIR}/mpi/bin/mpicc ; CXX=${CI_DEPENDENCY_DIR}/mpi/bin/mpic++ ; fi
  - echo "install opt flags:"
  - echo ${OPTION_FLAGS_ARR[@]}

before_script:
  - mkdir -p build && cd build
  - OPTION_FLAGS_ARR+=("-DBUILD_RELEASE_ONLY=ON" "-DAUTOBUILD_KLU=ON" "-DAUTOBUILD_SuiteSparse=ON" "-DBUILD_GRIDDYN_SHARED_LIBRARY=ON" "-DAUTOBUILD_ZMQ=ON")
  - GRIDDYN_OPTION_FLAGS=${OPTION_FLAGS_ARR[@]}
  
script:
  - echo "Script opt flags:"
  - echo ${GRIDDYN_OPTION_FLAGS}
  - pwd
  - cmake ${JOB_OPTION_FLAGS} ${GRIDDYN_DEPENDENCY_FLAGS} ${GRIDDYN_OPTION_FLAGS} -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_DISABLE_FIND_PACKAGE_LAPACK=ON ..
  - cmake --build . -- -j2

  # Setup counters for coverage
  - if [[ "$RUN_COVERAGE" ]]; then pushd .. && scripts/lcov-helper.sh setup-counters && popd ; fi

  # Run CI tests
  - ../scripts/run-ci-tests.sh

  # Gather coverage results
  - if [[ "$RUN_COVERAGE" ]]; then pushd .. && scripts/lcov-helper.sh gather-coverage-info ${GCOV_TOOL} && popd ; fi

  # Submit coverage results to coveralls
  - if [[ "$RUN_COVERAGE" ]]; then pushd .. && coveralls --gcov ${GCOV_TOOL} --lcov-file coverage.info.cleaned > /dev/null && popd ; fi

  # Submit coverage results to codecov.io
  - if [[ "$RUN_COVERAGE" ]]; then pushd .. && bash <(curl -s https://codecov.io/bash) -x ${GCOV_TOOL} > /dev/null && popd ; fi

notifications:
    email: false

